body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container{
    display: grid;
    width: 100%;
    height: 100vh; 
    grid-template-columns: 1fr 1fr;
    padding-top: 87px;
    box-sizing: border-box;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    padding-left: 112px;
    width: 42%;
    height: 100%;


}
.card{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    

    

}
.card h1{
    font-family: Avenir, sans-serif;
    font-size: 64px;
    color: #252525;
}
.card h2{
    font-family: Avenir, sans-serif;
    font-size: 40px;
    color: #252525;
    opacity: 25%;
    margin-block-start: 10px;
}
.card p{
    font-family: Avenir, sans-serif;
    font-size: 26px;
    color: #252525;
    opacity: 80%;
    margin-block-start: 0px;
}
.card button{
    background-color: #252525;
    color: white;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    width: 159px;
    height: 52px;
    
    border-radius: 16px;
    margin-bottom: 88px;

}


.photo{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    
}



@media (max-width: 1600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        width: 100%;
        padding: 0 15px;
        text-align: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .title {
        width: 100%;
        display: flex;
        justify-content: center; /* centra el h1 */
    }

    .title h1 {
        font-size: 42px;
        text-align: center;
    }

    .content {
        padding: 0;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .card p {
        font-size: 18px;
    }

    .card button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .img {
        max-width: 100%;
        height: auto;
    }
}