.container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    
    

}
.title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 300px;
    max-width: 531px;
    
}



.title h1{
    font-family: Avenir, sans-serif;
    font-size: 88px;
    color: #252525;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 56px;
    justify-content: center;
    align-items: center;

}

.content h2{
    font-family: Avenir, sans-serif;
    font-size: 32px;
    color: #252525;
    opacity: 55%;
    
}
.content p{
    font-family: Avenir, sans-serif;
    font-size: 24px;
    color: #252525;
    opacity: 80%;
    margin-block-start: 0px;
}
.content img{
    
    max-height: 345px;
    
    height: 100%;

}
.card{
    max-width: 400px;
    width:100% ;

}